/* -------------------- */	
/* --- news ----------- */	
/* -------------------- */
#news {
	@include grid(repeat(4, 216px), repeat(3, 200px), .7em);
	.news-item {
		a {
			height: 100%;
			display: grid;
			grid-template-columns: auto 40px;
			grid-template-rows: 40px auto;
			h2, time {
				@include section-headline;
				margin-bottom: 0;
				display: grid;
				place-content: center;
			}
			h2 {
				padding: 0 .3em;
				line-height: 1.3;
			}
			time {
				font-size: .6em;
				font-weight: bold;
				border-left: 1px solid white;
			}
			img {
				grid-column: 1 / 3;
				height: 100%;
			}
		}
		&.top-news {
			grid-area: 1 / 1 / 3 / 4;
		}
	}
}

/* -------------------- */	
/* -complementary data- */	
/* -------------------- */
.complementary-data {
	margin-top: 1em;
}

/* -------------------- */	
/* --- articles ------- */	
/* -------------------- */
.articles-page table tr th:first-child {
	width: 10em;
}

/* -------------------- */	
/* --- article ------- */	
/* -------------------- */
.article-page {
	.content, .jqte {
		padding: 1em;
	}
	&:not(.info-page) {
		.content, .jqte {
			div p {
				text-indent: 1.5em;
			}
			a {
				color: blue;
				@include simple-link;
			}
			.two-img img {
				@include size(48%, 15em);
			}
		}
	}
	&.interview-page .content {
		img {
			width: 7em;
			float: right;
		}
		.rozhovor-uvod {
			max-width: 40em;
			float: left;
		}
		p[style="clear:both"] {
			border-bottom: 1px solid silver;
			padding: 1em;
		}
	}
	&.tournament-page .zapas-turnaj h3, 
	&.history-page .content h2 {
		font-size: 1em !important;
		margin-top: 2em;
		padding: .3em 0;
		border: solid gray;
		border-width: 1px 0;
	}
	&.history-page {
		.content h2 {
			position: relative;
			a {
				font-size: .9em;
				font-weight: normal;
				position: absolute;
				right: 1em;
				&::before, &::after {
					color: $primary-fg;
				}
				&::before {
					content: '[ ';
				}
				&::after {
					content: ' ]';
				}
			}
		}
	}
}