/* -------------------- */	
/* --- common --------- */	
/* -------------------- */
$primary-fg: #3d3e3f;
$primary-bg: #194d19;
$secondary-bg: #226822;
$menu-bg: linear-gradient(#3d7648, #34653e, #3d7648);
$menu-bg-hover: linear-gradient(#194d19, $secondary-bg);
$headline-bg: linear-gradient(#377242, #458752, #377242);
$pagination-bg: $menu-bg;
$selected-row-bg: #b2e6b2;
$even-row-bg: #e3ede3;

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin contrast($bg, $fg) {
	background: $bg;
	color: $fg;
}

@mixin section-headline {
	@include contrast($headline-bg, white);
	border: 1px solid $primary-bg;
	margin-top: 0;
	padding: 3px 0;
	text-shadow: 1px 1px 1px black;
}

@mixin grid($columns, $rows: none, $gap: 0) {
	display: grid;
	grid-template-columns: $columns;
	grid-template-rows: $rows;
	grid-gap: $gap;
}

@mixin flex-centered {
	display: flex;
	justify-content: center;
}

@mixin simple-link {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

/* -------------------- */	
/* --- markup --------- */	
/* -------------------- */
html {
	@include contrast(url(../graphics/background.jpg), $primary-fg);
	background-size: cover;
	background-attachment: fixed;
}

body {
	font-family: 'Titillium Web', sans-serif;
	image-rendering: -webkit-optimize-contrast;
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	font-size: 1em;
}

h2 {
	font-size: .8em;
}

h3 {
	font-size: .7em;
}

a {
	color: $primary-fg;
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

button, input[type="submit"] {
	cursor: pointer;
}

table, img {
	width: 100%;
}

input[type=checkbox] {
	vertical-align: middle;
}

td > a, li > a {
	display: block;
}

/* -------------------- */	
/* --- classes -------- */	
/* -------------------- */
.pagination {
	@include flex-centered;
	position: relative;
	margin-top: 1.5em;
	li {
		background: $pagination-bg;
		margin-right: .5em;
		a {
			padding: .3em 1em;
			&:hover, &.current-page {
				@include contrast(white, $primary-bg);
			}
		}
	}
}

table.table-theme {
	border-collapse: collapse;
	th, td {
		border: 1px solid $primary-bg;
		font-size: .9em;
		padding: 9px 5px;
	}
	th {
		@include contrast($headline-bg, white);
	}
	td {
		background: white;
		text-align: center;
	}
	tr:nth-child(even) td {
		background: $even-row-bg;
	}
	tr:hover td {
		background: $selected-row-bg;
		cursor: pointer;
	}
	margin-bottom: 1em;
}

.user-form {
	padding: .5em;
	border: 1px solid #194d19;
	display: inline-block;
	background: #e3ede3;
	select {
		height: 30px;
	}
}

.error-page #main-content {
	h1 {
		background: linear-gradient(#F80922, #EB7380, #F80922);
	}
	.content {
		padding: .5em;
	}
}

.hidden {
	display: none;
}

footer, .link, .btn, 
.menu li, .menu li a {
	color: white;
}

.form-container, .article-page .content, .error-page .content,
.game-page .content, .player-info, aside section {
	background: white;
	border: 1px solid $primary-bg;
}

.news-item, .player-card {
	&:hover {
		box-shadow: 0 0 5px $primary-bg;
	}
}

nav > ul, .content img, .complementary-data img, .jqte img,
.player-profile, .pagination li, .news-item, .player-card,
.table-theme tr > * {
	border: 1px solid $primary-bg;
}

.news-item {
	overflow: hidden;
}

.stat-field tr > *, .submit-field, header,
nav > ul > li a, nav > ul > li > ul > li:last-child,
aside > section > *, footer section {
	text-align: center;
}

label, legend, .subfield .delimiter,
.otazka, .commentary p:first-child::before,
.player-info dt, .team-fcb, .mainmenu-item > a:hover,
.game-info time {
	font-weight: bold;
}

