<!doctype html>
<html data-layout-decorate="~{layout}">
<head>
	<title data-th-text="#{title}"></title>
</head>
<body>
	<h1 data-layout-fragment="headline" data-th-text="#{news}"></h1>
	<div data-layout-fragment="content" id="news">
		<div data-th-each="article, loop: ${articles}" class="news-item" data-th-classappend="${loop.index eq 0} ? 'top-news'">
			<a data-th-with="type = ${article.articleType.name()}"
			   data-th-href="@{/{subpath}/{id}
				(subpath=${type == 'GAME' 
					? (#strings.contains(article.id, 'fcba') 
						? 'a-team' : (#strings.contains(article.id, 'fcbb') ? 'b-team' : 'futsal')) + '/games'
					: 'articles/' + #strings.toLowerCase(type)},
				id=${type == 'GAME' ? #strings.substringAfter(article.id, 'a-') : article.id})}"
				data-th-class="${article.articleType}">
				<h2 data-th-text="${article.title}"></h2>
				<time data-th-datetime="${#dates.format(article.publishedAt, 'yyyy-MM-dd HH:mm')}">
					[[${#dates.format(article.publishedAt, 'dd.MM.')}]]
				</time>
				<img data-th-src="@{/images/articles/__${article.id}__.jpg}" 
					 data-th-onerror="|this.src = '@{/images/articles/default.jpg}'|" 
					 data-th-alt="${article.title}">
			</a>
		</div>
	</div>
</body>
</html>